.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centradoAbajo{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    height: 400px;
    width: 400px;
}


.imagen1{
    background-image: url(../src/images/pruebaImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;

}
.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-inner{
 height: 300px;
}

svg:hover {
    fill: black;
  }

.blanco{
    background-color: rgba(255, 255, 255, 0.7);
}